<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <title>Users</title>
</head>
<body style="background: #ccc;" class="skin-blue sidebar-mini">
    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>
    <div id="spa_container" class="app-container">
        Users
        <a href="/">Home</a>
    </div>
    <script src="/static/dev_bundle.js"></script>
</body>
</html>
